.logo {
  font-size: 1.75rem;
  font-weight: bold;
}

.logo:hover {
  text-decoration: none;
}

.navbar {
  padding: 16px 24px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.navbar:nth-child(1) > *:not(:first-child) {
  display: block;
  letter-spacing: 1px;
}

.body {
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

.main {
  height: 100%;
  flex: 1;
}

.footer {
  color: #acacac;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 16px;
}

.footer > *:not(:first-child) {
  padding-left: 8px;
}

.footer > *:not(:first-child):before {
  padding-right: 8px;
  content: '•';
}